*{
  margin: 0;
  padding: 0;
}
body {
  display: grid;
}
.header {
  height: 100px;
}
.logo h4 {
  margin-top: 30px;
  font-family: 'Merriweather Sans', sans-serif;
}

.menu {
  overflow: hidden;
}
/* .menu ul{
  
} */
.menu ul li{
  list-style: none;
  float: left;
  padding: 35px 15px;
  
}
.menu ul li a{
 color: black;
 text-decoration: none;
 font-size: 18px;
 font-family: 'Cardo', serif;
}

.menu ul li a:hover {
  color: #c38e22;
}

.book-now {
  background-color: #c38e22;
  margin-top: 30px !important;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  font-family: 'Cardo', serif;
}
.book-now a{
   color: #fff;
   font-size: 20px;
   display: block;
   
}
.book-now a:hover {
  background-color: #e0b152;
  color: #fff;
}
/* .slider {
  height: 90vh;
} */

.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 60%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.intro {
  position: absolute;
  width: 700px;
  height: 200px;
  top: 20%;
	left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 40px;
  font-weight: 40;
  letter-spacing: 1px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; 
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease;
  margin-bottom: 60px;
 }

 @keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px); }
  80% {
    transform: translate(10px); }
  100% {
    opacity: 1;
    transform: translate(100px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px); }
  80% {
    transform: translate(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

#booking {
	font-family: 'Josefin Sans', sans-serif;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/background.jpg");
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.2);
}

.booking-form {
	background-color: #fff;
	max-width: 768px;
	width: 100%;
	margin: auto;
	padding: 30px;
	border-radius: 3px;
}

.booking-form .form-header {
	text-align: center;
	margin-bottom: 40px;
}

.booking-form .form-header h1 {
	font-family: 'Cardo', serif;
	font-weight: 700;
	text-transform: capitalize;
	font-size: 38px;
	color: #0c0c09;
	margin-top: 0;
	margin-bottom: 0px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 50px;
	padding: 0px 20px;
	border: 1px solid #e1e1e1;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 3px;
	color: #6b6b6d;
	font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #e1e1e1;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #e1e1e1;
}

.booking-form .form-control::placeholder {
	color: #e1e1e1;
}

.booking-form .form-control:focus {
	border-color: #c99552;
}

.booking-form input[type="date"].form-control:invalid {
	color: #e1e1e1;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 24px;
	text-align: center;
	pointer-events: none;
	background: #e1e1e1;
	height: 50px;
	line-height: 50px;
	color: rgba(107, 107, 109, 0.3);
	font-size: 14px;
	border-radius: 0px 3px 3px 0px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form select.form-control+.select-arrow::after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form select.form-control:focus+.select-arrow {
	background: #c99552;
	color: #fff;
}

.booking-form .form-label {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 3px;
	display: inline-block;
	color: #c99552;
	text-transform: capitalize;
}

.booking-form .in-out {
	position: absolute;
	font-size: 24px;
	color: #c99552;
	right: -15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	z-index: 20;
	text-align: center;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	bottom: 25px;
}

.booking-form .form-btn {
	margin-top: 23px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #c99552;
	font-weight: 700;
	height: 50px;
	border: none;
	display: block;
	font-size: 14px;
	width: 100%;
	text-transform: capitalize;
	border-radius: 3px;
}

 /* Room Section */
 .room-section {
   margin-top: 100px;
 }

 .room-section h1 {
   text-align: center;
   font-family: 'Cardo', serif;
   font-weight: 900;
 }
 .room-package {
   background-color: #ddd;
   margin-top: 30px;
   font-family: 'Cardo', serif;
 }

 .room-package h4{
   padding-top: 30px;
 }

 .room-package p{
  font-size: 18px;
  font-weight: 700;
}
.room-book{
  background-color: #c38e22;
  padding: 10px 15px;
  border-radius: 7px;
  color: #fff;
  margin-bottom: 20px;
  text-decoration: none !important;
}
.room-book:hover {
  color: #fff;
}
.view-more{
  background-color: #c38e22;
  padding: 10px 10px 15px 10px;
  border-radius: 7px;
  color: #fff;
  text-decoration: none !important;
  clear: both;
  padding: 10px 10px;
}

.view-more:hover {
  color: #fff;
}

/* blog-area-css */
.blog-area {
 overflow: hidden;
 text-align: center;
 font-family: 'Cardo', serif;
}

.blog-area h1 {
  font-weight: 900;
}
.single-blog {
  background-color: #ddd;
  margin-bottom: 30px;
}
.blog-image {
  width: 350px;
}
.blog-image img {
  width: 100%;
}

.single-blog p {
  text-align: left;
  margin-top: 10px;
  padding-left: 10px;
}
.readbtn {
  background-color: #c38e22;
  color: #fff;
  padding: 10px 10px;
  border-radius: 6px;
}

.readbtn:hover {
  color: #fff;
  text-decoration: none;
}

.single-blog {
  height: 580px;
}

/* Hotel-Video */
.hotel-video {
  overflow: hidden;
  text-align: center;
}
.hotel-video h1 {
  margin-bottom: 50px;
}
.sidebar-btn {
  color: #c38e22 !important;
  text-decoration: none !important;
}
/* testimonial area */

.testimonial-area {
  width: 100%;
  height: auto;
  font-family: 'Cardo', serif;
}
.testimonial-area h1 {
  font-weight: 900;
}
.single-testi {
  width: 100%;
  height: auto;
  padding: 0px 20px 50px 20px;
  text-align: center;
  border: 1px solid #999;
  margin-top: 80px;
}
.testi-image {
  width: 130px;
  height: 130px;
  margin: auto;
  position: relative;
  top: -60px;
}
.testi-image:before {
  width: 40px;
  height: 40px;
  background: #fff;
  color: #c38e22;
  font-family: 'Cardo', serif;
  bottom: -10px;
  right: 0;
  line-height: 40px;
  border-radius: 50px;
  transition: .5s;
}
.testi-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 80px;
}
.testi-content {
  width: 100%;
  height: auto;
  padding: 10px auto;
}
.testi-content p {
  color: #999;
  font-size: 18px;
  margin-bottom: 20px;
}

.testi-content h1 {
  color: #eac15a;
  font-size: 24px;
}

/* Testimonial hover section  */
.single-testi:hover {
  border: 1px solid #eac15a;
}


/* FOOTER AREA */
.footer-area {
  background-color: #16161a;
  color: #fff;
  font-family: 'Cardo', serif;
}
.footer-col {
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-col h1{
   font-weight: 900;
   padding-bottom: 10px;
}

.facebook {
  background-color: #c38e22;
  padding: 15px;
  margin-right: 10px;
  transition: transform 1s;
}

.facebook:hover {
  background-color: #3b5998;
  transform: rotate(360deg);
}

.instagrame {
  background-color: #c38e22;
  padding: 15px;
  margin-right: 10px;
  transition: transform 1s;
}
.instagrame:hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  transform: rotate(360deg);
}
.youtube {
  background-color: #c38e22;
  padding: 15px;
  margin-right: 10px;
  transition: transform 1s;
}

.youtube:hover{
  background-color: #c4302B;
  transform: rotate(360deg);
}
.twitter {
  background-color: #c38e22;
  padding: 15px;
  margin-right: 10px;
  transition: transform 1s;
}
.twitter:hover {
  background-color: #00ACEE;
  transform: rotate(360deg);
}
.webamex {
  color: #fff;
}
.webamex:hover {
  text-decoration: none;
  color: #c38e22;
}

.social-media p{
  font-size: 18px;
  padding-top: 10px;
  letter-spacing: 1px;
}

/* Registration page css */

.section {
	position: relative;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#reserve {
	font-family: 'Montserrat', sans-serif;
	background-size: cover;
	background-position: center;
}

#reserve::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.reserve-form {
	max-width: 642px;
	width: 100%;
	margin: auto;
}

.reserve-form .form-header {
	text-align: center;
	margin-bottom: 25px;
}

.reserve-form .form-header h1 {
	font-size: 58px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
	margin: 0px;
}

.reserve-form>form {
	background-color: #101113;
	padding: 30px 20px;
	border-radius: 3px;
}

.reserve-form .form-group {
	position: relative;
	margin-bottom: 15px;
}

.reserve-form .form-control {
	background-color: #f5f5f5;
	border: none;
	height: 45px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 400;
	color: #101113;
}

.reserve-form .form-control::-webkit-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.reserve-form .form-control:-ms-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.reserve-form .form-control::placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.reserve-form input[type="date"].form-control:invalid {
	color: rgba(16, 17, 19, 0.3);
}

.reserve-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.reserve-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #101113;
	font-size: 14px;
}

.reserve-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.reserve-form .form-label {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 5px;
	display: block;
	text-transform: uppercase;
}

.reserve-form .submit-btn {
	color: #101113;
	background-color: #ffc001;
	font-weight: 700;
	height: 50px;
	border: none;
	width: 100%;
	display: block;
	border-radius: 3px;
	text-transform: uppercase;
}

